.footerText{
    font-family:'poppins';
    font-size: 1em;
    color: white;
    line-height: 1.5;
}

.stopka{
    background-color: rgb(6, 93, 117);
    color: white;
    width: 100vw;
    height: fit-content;
    padding: 10px 20px 10px 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
}

img{
    height: 20vh;
    padding: 0px 20px 0px 0px
}