.footerText{
    font-family:'poppins';
    font-size: 1em;
    color: white;
    line-height: 1.5;
}
.row{
    max-width: 95vw;
}
.stopka{
    position: relative;
    background-color: rgb(6, 93, 117);
    height: fit-content;
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 95vw;
      font-family:'poppins';
    font-size: 1em;
    color: white;
    line-height: 1.5;
}

img{
    float: right;
    height: 15vh;
    padding: 0px 20px 0px 0px
    
}
.range{
    width: 100%;
    height: auto;
    margin-bottom: -2%;
}
@media (max-width: 416px)  {
    .col-md{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px
    }
    img {
        padding: 0%;
       
    }   
}