.divKontakt{
    background-color:white;
    color: cadetblue;
    font-family: 'Poppins';
    font-size: 2vw;
    height: fit-content;
    max-width: 100vw;
    padding: 7%;
}
.divWhite{
    background-color:white;
    color: rgb(6, 93, 117);
}
.justifyCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgCenter{
							
display: block;
    
 
 padding: 5%;
}