.divKontakt {
    background-color: white;
 
    height: fit-content;

    padding: 7%;
}
.textKontakt{
    color: rgb(6, 93, 117);
    font-family: 'Poppins';
    font-size: 2em;
}
.textForm{
    color: rgb(6, 93, 117);
    font-family: 'Poppins';
    font-size: 2vw;
}
.col-md{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;

}
form{
    width: 100%;
}
.buttonSub{
    background-color:  rgb(6, 93, 117);
    color: aliceblue;
    font-size: 2vw;
    border: 0em;
    width: 100%;
}
.w100{
    width: 100%;
}
.divWhite {
    background-color: white;
    color: rgb(6, 93, 117);
}

.justifyCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
}
.justifyCenter{
    display: flex;
    justify-content: center;
}
fieldset {
    border-width: 5px 5px 5px;
    border-style:solid;
    border-color:  rgb(6, 93, 117);
    padding: 0 20px;
    filter: drop-shadow(0 1px 1px rgba(grey,0.25));
    height: fit-content;
    width: 90vw;
  }
  
  legend {
    margin: -35px;
  }
  
  h1 {
    background-color:  white;
    margin: 0 76px;
    padding: 0.75em 1.29em 0.5em;
    border: 3px solid  rgb(6, 93, 117);
    font-family: 'Alegreya  ';
    font-size: 2rem;
    line-height: 0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color:  rgb(6, 93, 117);
    width: fit-content;
    height: fit-content;
    
  }