<div class="flex-column divBg">
    <!-- <div class="p-2  justifyCenter textPrzewod">Przewodnik Tatrzański</div>
    <div class="p-2  justifyCenter textMarta">Marta Młyńska</div> -->
    <img class=" imgHeader" src="/assets/1.png">

    <!-- <div class="flex-wra justifyCenter">
        <div class="order-3 p-2 justifyCenter"><a href="#"><img class="imgSmall" src="assets/instagram.svg"></a>
        </div>
        <div class="order-2 p-2 justifyCenter"><a href="#"><img class="imgSmall" src="assets/facebook.svg"></a>
        </div>
    </div> -->
</div>
<div class="">
    <div>
        <button type="button" class="buttonUp btn">+</button>
    </div>
   
<!-- <div class="container text-center divWhite ">
        <div class="row">
            <div class="col-sm imgOfferCenter">
                <p class="text-center">
                <p class="pt-3 textOfferP">Tatry zachodnie</p>
                <img class="imgOffer" src="/assets/zachodnie.JPG">
            </div>
            <div class="col-sm imgOfferCenter">
                <p class="pt-3 textOfferP">Tatry Wysokie</p>
                <img class="imgOffer" src="/assets/wysokie.JPG">
            </div>

        </div>
    </div> -->
<!-- <div class="container text-center divBlue">
    <div class="row">
        <div class="col-sm  pb-3">
            <button type="button" class="width30 btn btn-outline-light btn-lg text-center textOffer">Cennik</button>
        </div>
        <div class="col-sm ">
            <button type="button" class="width30 btn btn-outline-light btn-lg text-center textOffer">FAQ</button>
        </div>


    </div>
</div> -->

<app-contact-form> </app-contact-form>
<app-footer></app-footer>