
.justifyCenter{
    display: flex;
    justify-content: center;
}
.imgSmall{
    height: 4vh;
    width: auto;
}
.divBlue{
    background-color: rgb(6, 93, 117);
    color: white;
    padding: 5%;
}
.divWhite{
    background-color:white;
    color: rgb(6, 93, 117);
    padding: 5%;
}
.width33{
    width: 33vw;
}
.w80{
    width: 80vw;
}
.width30{
    width: 30vw;
    height: 20vh;
}
.textOfferHeared{
    font-size: 2rem;
    font-family: 'Alegreya'; 
}
.textOfferP{
    font-family: 'Alegreya';
    font-size: 2rem;
    padding: 0% 5% 0% 5%;
    margin: 0% -5% -5% 0%;
    z-index: 1;
}
.textOffer{
    font-family: 'poppins';
    font-size: 1rem;
    padding: 0% 5% 0% 5%;
    
}
.buttonUp {
    position: fixed;
    bottom: 0px;
    right: 0px;

    width: fit-content;
    height: fit-content;
    background-color: #315C35;
    color: white;
}


.imgHeader{
    height: 20vh;
    width: auto;
}
.imgOfferCenter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.imgOffer{

    height: 50vh;
}


.heading-frame {
	display: grid;
	box-shadow: 0 3px 6px rgba(0,0,0,0.4);
	grid-template-columns: max-content auto;
	grid-template-rows: auto max-content;
	background: #333 url(/assets/zachodnie.JPG) center;
	background-size: cover;
	color: rgb(255, 255, 255);
	width: auto;
	height: 30vh;
	padding: 5%;
	&:before,
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		border: 2px solid rgb(231, 225, 225);
	}
	&:before {
		grid-row: 1 / 2;
		border-right: none;
		border-bottom: none;
	}	
	&:after {
		grid-row: 1 / span 2;
		border-left: none;
	}
    .textFrame{
		margin: 1rem 1rem -.5rem 0;
		font-family: 'poppins';
		font-size: 1rem;
		max-width: 100%;
	}
}
.heading-frame2 {
	display: grid;
	box-shadow: 0 3px 6px rgba(0,0,0,0.4);
	grid-template-columns: max-content auto;
	grid-template-rows: auto max-content;
	background: #333 url(/assets/wysokie.JPG) center;
	background-size: cover;
	color: rgb(255, 255, 255);
	width: auto;
	height: 30vh;
	padding: 5%;
	&:before,
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		border: 2px solid rgb(231, 225, 225);
	}
	&:before {
		grid-row: 1 / 2;
		border-right: none;
		border-bottom: none;
	}	
	&:after {
		grid-row: 1 / span 2;
		border-left: none;
	}
    .textFrame {
		margin: 1rem 1rem -.5rem 0;
		font-family: 'poppins';
		font-size: 1rem;
		max-width: 100%;
	}
}
.heading-frame3 {
    margin:5% 10% 5% 10%;
	display: grid;
	box-shadow: 0 3px 6px rgba(0,0,0,0.4);
	grid-template-columns: max-content auto;
	grid-template-rows: auto max-content;
	background: #333 url(/assets/IMG_8362.JPG) center;
	background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
	color: rgb(255, 255, 255);
	width: 80vw;
	height: 300px;
	padding: 3%;
	&:before,
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		border: 2px solid rgb(231, 225, 225);
	}
	&:before {
		grid-row: 1 / 2;
		border-right: none;
		border-bottom: none;
        
	}	
	&:after {
		grid-row: 1 / span 2;
		border-left: none;
	}
    .textFrame {
		margin: 1rem 1rem -.5rem 0;
		font-family: 'poppins';
		font-size: 2rem;
        font-weight: 600;
		max-width: 100%;
	}
}

fieldset {
    border-width: 5px 5px 5px;
    border-style:solid;
    border-color:  rgb(6, 93, 117);
    padding: 0 20px;
    filter: drop-shadow(0 1px 1px rgba(grey,0.25));
    height: fit-content;
    width: 90vw;
  }
  
  legend {
    margin: -35px;
  }

  
  h1 {
    background-color:  white;
    font-size: 2rem;
    margin: 0 76px;
    padding: 0.75em 1.29em 0.5em;
    border: 3px solid  rgb(6, 93, 117);
    font-family: 'Alegreya', sans-serif;
    line-height: 0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color:  rgb(6, 93, 117);
    width: fit-content;
  }
  .containerOffer {
    
    margin: 3%;
    width: 95vw;
    background: white;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }