<div class="flex-column divBg">
    <div class="p-2  justifyCenter textPrzewod">Przewodnik Tatrzański</div>
    <div class="p-2  justifyCenter textMarta">Marta Młyńska</div>


    <div class="flex-wra justifyCenter">
        <div class="order-3 p-2 justifyCenter"><a href="#"><img class="imgSmall" src="assets/instagram.svg"></a>
        </div>
        <div class="order-2 p-2 justifyCenter"><a href="#"><img class="imgSmall" src="assets/facebook.svg"></a>
        </div>
    </div>
</div>
<div class="">

    <div class=" p-4 flex-column divWhite">
        <div class=" pb-3 textOfferHeared justifyCenter">Choćże w Tatry!</div>
        <div class=" flex-wrap textOffer justifyCenter">
            Zapraszam do wspólnej przygody w
            Tatrach!
            Jeśli jesteś początkującym turystą, który marzy o zdobywaniu szczytów- zadbaj o swoje bezpieczeństwo.
            <br>Wyjście
            z doświadczonym przewodnikiem to świetna okazja, żeby poznać góry w bezpieczny sposób.
        </div>
    </div>

    <div class="container text-center divBlue">
        <div class="row">
            <div class="col-sm  pb-3">
                <button type="button" class="width30 btn btn-outline-light btn-lg text-center textOffer">Cennik</button>
            </div>
            <div class="col-sm ">
                <button type="button" class="width30 btn btn-outline-light btn-lg text-center textOffer">FAQ</button>
            </div>
          

        </div>
    </div>
    <div class="container text-center divWhite">
        <div class="row">
            <div class="col-sm">
                <p class="text-center">
                <p class="pt-3 textOfferP">Wycieczka A</p>
                <p class="p-3 textOffer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget
                    dignissim
                    metus. Ut rutrum
                    sagittis
                    imperdiet.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget dignissim metus. Ut
                    rutrum
                    sagittis
                    imperdiet.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget dignissim metus. Ut
                    rutrum
                    sagittis
                    imperdiet.
                </p>
            </div>
            <div class="col-sm">
                <p class="pt-3 textOfferP">Wycieczka B</p>
                <p class="p-3 textOffer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget
                    dignissim
                    metus. Ut rutrum
                    sagittis
                    imperdiet.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget dignissim metus. Ut
                    rutrum
                    sagittis
                    imperdiet.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget dignissim metus. Ut
                    rutrum
                    sagittis
                    imperdiet.
                </p>
            </div>

        </div>
    </div>

<app-contact-form> </app-contact-form>
    <app-footer></app-footer>